body{
    background: #de985e;
    text-align: center;
    
    /* background-color: ;  */
    /* background-image: url(image/anim.jpg); */
    /* background-repeat:no-repeat; */
}
form{
    border: 8px solid whitesmoke; 
    
}
.field{
    display: inline-flex;
    
    
}
h1{
    background-color: #ebc697;
    margin-top: auto;
    height: 80px ;
    text-align: center;
}